*{
    margin: 0;
    padding: 0;
}

body{
width: 100%;
height: 100vh;
background-color: rgb(3, 102, 69);
color: rgb(78, 11, 11);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
font-size: 40px;
  }

    @media screen and (max-width 900px) and
       (min-width 600px) {
       body{
      background-color: coral
    }
       h1{
        font-size: 32px; 
          }
     }

    @media screen and (max-width 599px) {
  body{
background-color: rgb(8, 8, 92); 
      }
      h1{
        font-size: 24px;
      }
    }